@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/pl.css">
</head>

<body>
    
    <div class="container-fluid">
        
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="#">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " href="#">Policy-1</a></li>
                                <li><a class="dropdown-item" href="#">Policy-2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">

                        <div class="dropdown">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/user-img.png" alt="" style="border-radius: 50%;" height="30px"
                                    width="30px">
                                <span>Evan Donohue</span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="row mt-4 bdr container mx-auto mb-2">
            <div class="input-group rounded bd ">

                <div class="col-12 col-lg-6 col-md-6 be ">
                    <div class="srch ">
                        <!-- <span class="input-group-text  border-0" id="search-addon"> -->
                        <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                        <!-- </span> -->
                        <input type="search" class="form-control rounded d-inline srch" placeholder="Search mission..."
                            aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-6 ">
                    <div class="row  ">
                        <div class="dropdown d-inline col-lg-3 col-md-3 col-6 be text-center">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Country&nbsp; &nbsp;</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Country-1</a></li>
                                <li><a class="dropdown-item" href="#">Country-2</a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </div>

                        <div class="dropdown d-inline col-lg-3 col-md-3 col-6 be text-center">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>City&nbsp; &nbsp;</span>
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">City-1</a></li>
                                <li><a class="dropdown-item" href="#">City-2 </a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </div>

                        <div class="dropdown d-inline col-lg-3  col-md-3 col-6 be text-center">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Theme &nbsp; &nbsp;</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Theme-1</a></li>
                                <li><a class="dropdown-item" href="#">Theme-2 </a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </div>

                        <div class="dropdown d-inline col-lg-3 col-md-3 col-6 text-center">
                            <a class="btn  dropdown-toggle p-0 " href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Skills &nbsp; &nbsp;</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Skill-1</a></li>
                                <li><a class="dropdown-item" href="#">Skills-2</a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-filters d-flex align-items-center flex-wrap mt-4 mgl">
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1 flex-nowrap">
                <p class="filter">Tree Plantation</p>
                <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Canada</p>
                <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Toronto</p>
                <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Montreal</p>
                <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Environment</p>
                <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Nuitrition</p>
                <i class="bi bi-x"></i>
                </div>
                </div>
                <h1 class="mgl mt-2">Explore 72 missions</h1>
    
        </div>
        </div>
        <div class="container mt5">
            <!-- <div class="row">
                <div class="col-lg-12 my-3">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-info" id="list">
                                List View
                            </button>
                            <button class="btn btn-danger" id="grid">
                                Grid View
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- -------------------------------------------------------------- -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><h1>Explore 72 missions</h1></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex ms-auto">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item dropdown ">
                              <a class="nav-link dropdown-toggle border border-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </li>
                          </ul>

                      <button class="btn " id="grid" ><img src="~/images/grid.png" alt=""></button>
                      <button class="btn " id="list" ><img src="~/images/list.png" alt=""></button>
                      
                    </form>
                  </div>
                </div>
              </nav>
              
            <!-- -------------------------------------------------------------------- -->
            <div id="products" class="row view-group">
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid W-100 "
                                src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Environment
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Toranto</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees-On the path to environment sustainability</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">Tree Canada</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12 " >
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span class="fsize"> From 10/01/2019 until 25/02/2019</span>
                                </div>
                            </div>
                            <div class="row mt-4 ">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Seats-left.png" alt=""></td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2"> Seats Left</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                            <td>09/01/2019 </td>
                                        </tr>
                                        <tr>
                                            <td class="fsize">Deadline</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>

                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="#">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid " width="100%"
                                src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Children
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Melbourne</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for Every Pair of Shoes Sold</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12"> Australian Paradise</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span class="fsize"> From 10/01/2019 until 25/02/2019</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Already-volunteered.png" alt=""></td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2">Already volunteered</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                            <td>09/01/2019 </td>
                                        </tr>
                                        <tr>
                                            <td class="fsize">Deadline</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="#">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid" width="100%"
                                src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Nutrition
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Barcelona</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Nourish the Children in African country</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">The Hunger</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span> Ongoing Opportunity</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Seats-left.png" alt=""></td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2"> Seats Left</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                            <td>09/01/2019 </td>
                                        </tr>
                                        <tr>
                                            <td class="fsize">Deadline</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="#">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid"
                                src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Environment
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>London</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                CSR initiative stands for Coffee and Farmer Equity</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">CSE Network</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span> Ongoing Opportunity</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Already-volunteered.png" alt=""></td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2">Already volunteered</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="#">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid"
                                src="~/images/Animal-welfare-&-save-birds-campaign.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Animals
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Cape Town</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Animal welfare & save birds campaign </h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">JR Foundation</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span> Plant 10,000 Trees</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Seats-left.png" alt=""></td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2">Seats left</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/achieved.png" alt=""></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bgw" role="progressbar" style="width: 75%"
                                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2">8000 Achieved</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                               
                                    <div class="col-xs-12 col-md-6 mx-auto">
                                        <a class="btn btnapp " href="">Apply<img src="~/images/right-arrow.png" alt=""></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid"
                                src="~/images/Plantation-and-Afforestation-programme.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Health
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Paris</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Plantation and Afforestation programme</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">Amaze Doctors</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span> Plant 10,000 Trees</span>
                                </div>
                            </div>
                            <div class="row mt-3"></div>
                            <div class="col ">
                                <table>
                                    <tr>
                                        <td rowspan="2"><img src="~/images/achieved.png" alt=""></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bgw" role="progressbar" style="width: 75%"
                                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fsize2">8000 Achieved</td>
                                    </tr>
                                </table>
                            </div>
                            <hr>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="#">Apply<img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                        </div>

                        </div>
                    </div>
                </div>

                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid W-100"
                                src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Environment
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span> Toranto</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Grow Trees-On the path to environment sustainability</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore... </p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">Tree Canada</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                                <div class="row">
                                    <br><br><br><br>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto mt1">
                                    <a class="btn btnapp " href="#">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid" width="100%"
                                src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Nutrition
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Barcelona</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Education Supplies for Every Pair of Shoes Sold</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">Tree Canada</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span class="fsize">From 10/01/2019 until 25/02/2019</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Already-volunteered.png" alt=""></td>
                                            <td>250</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2">Already volunteered</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                            <td>09/01/2019 </td>
                                        </tr>
                                        <tr>
                                            <td class="fsize">Deadline</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="http://www.jquery2dotnet.com">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">
                            <img class="group list-group-image img-fluid" width="100%"
                                src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                            <div class="bottom-left justify-content-center">
                                Nutrition
                            </div>
                            <div class="bottom-right  opacity-50   ">
                                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right2  opacity-50   ">
                                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                            </div>
                            <div class="bottom-right3  opacity-50   ">
                                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                                <span>Barcelona</span>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                Nourish the Children in African country</h4>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore...</p>
                            <div class="row mb">
                                <div class="col col-lg-6 col-md-6 col-sm-12">Junior Charity</div>
                                <div class="col col-lg-6 col-md-6 col-sm-12">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/selected-star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                    <img src="~/images/star.png" class="wdimg" alt="">
                                </div>
                            </div>
                            <div class="position-relative ">
                                <hr style="z-index: -1;">
                                <div class="dt text-center  position-absolute">
                                    <span> Ongoing Opportunity</span>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/Seats-left.png" alt=""></td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td class="fsize2"> Seats Left</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col">
                                    <table>
                                        <tr>
                                            <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                            <td>09/01/2019 </td>
                                        </tr>
                                        <tr>
                                            <td class="fsize">Deadline</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $21.000</p>
                                </div> -->
                                <div class="col-xs-12 col-md-6 mx-auto">
                                    <a class="btn btnapp " href="http://www.jquery2dotnet.com">Apply <img src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <nav aria-label="Page navigation example justify-content-center">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span class="sr-only">Next</span>
                          <span aria-hidden="true">&raquo;</span>
                          
                        </a>
                      </li>
                    </ul>
                  </nav>



            </div>

            
                
            

        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

    </script>
</body>

</html>