@using CI_PLATFORM.Models.ViewModels
@model RegistrationViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/registration.css">
</head>
<body class="b_bg ">
  
  <div class="container-fluid  c_bg  ">
    <div class="row h-100">
    
       <div class=" col-12 col-xs-12 col-sm-12 col-md-12 col-xl-9 colm ">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
       </div>

       <div class=" col-12 col-xs-12 col-sm-12 col-md-12 col-xl-3 ">
           <div class=" h-100  d-flex align-items-center ">
                <form class="w-100 p-2" method= "post">            
                  
                  <div class="form-outline mb-3 mt-4 align-items-center d">
                    <label class="form-label w" for="fn-form">First Name</label>
                    <input asp-for="FirstName" type="text" id="fn-form" class="form-control form-control-sm w "/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                  </div>
                  <div class="form-outline mb-3 d">
                    <label class="form-label " for="ln-form">Last Name</label>
                    <input asp-for="LastName" type="text" id="ln-form" class="form-control form-control-sm w"  />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                  </div>
                  <div class="form-outline mb-3 d">
                    <label class="form-label " for="pnumber">Phone Number</label>
                    <input asp-for="PhoneNumber" type="tel" id="pnumber" class="form-control form-control-sm w"  />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                  </div>
  
                  <div class="form-outline mb-3 d">
                    <label class="form-label " for="emailadd">Email Address</label>
                    <input  asp-for="Email" type="email" id="emailadd" class="form-control form-control-sm w" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
  
                  <div class="form-outline mb-3 d">
                    <label class="form-label " for="pwd">Password</label>
                    <input asp-for="Password" type="password" id="pwd" class="form-control form-control-sm w" />
                     <span asp-validation-for="Password" class="text-danger"></span>
                  </div>
  
                  <div class="form-outline mb-3 d">
                    <label class="form-label " for="c-pwd">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" id="c-pwd" class="form-control form-control-sm w" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                  </div>
                  <div class="d-grid gap-2 mb-3 mx-auto ">
                        <button class="btn btn-primary btn-login"  type="submit">Register</button>
                  </div>
                  <div class="mb-2 center_link ">
                    <a class="text-center link-secondary td" asp-controller="Authentication" asp-action="Forgot_Password">Lost your password?</a>
                  </div>
                  <div class="center_link ">
                      <p class=" pb-lg-2 fsize">Already registered? <a  asp-controller="Authentication" asp-action="login" class="td2">Login now</a></p>
                  </div>
                  <div class="center_link " ><a  href="#!" class="td small text-muted">Privacy policy</a></div>
                </form>
            </div>
        </div>
    </div>
  </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
