.btn-fpwd{
    color: #F88634;
    border: 2px solid #F88634;
    background-color: white;
    border-radius: 20px;
}
.lnbtn{
    line-height:1.5;
}



a:hover{
    color:blue;
}

.center_link {
    text-align: center;
    text-decoration: none;
}
.card{
   height: 100%;
   width: 100%;
    border: none;
}

p, a{
    font-size:0.875rem;
}
.b_bg
{
    background-color:#0000000D ;
}
.c_bg{
    background-color: #FFFFFF;
}
label{
    text-align: left;
}
a{
    text-decoration: none;
}
.colm{
    padding: 0px;
}

@media (max-width:768px) and  (min-width:426px) {
    .card{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width:768px) {
    .card {
        margin-top: 20px;
    }
}

@media(min-width:990px){
    img {
        height: 100vh;
    }

}




