@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.card:hover {
    -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
    box-shadow: 0 20px 40px rgba(72,78,85,.6);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}


/*10/05*/
.my-checkbox:checked {
    background-color: #F88634;
    border: 1px solid white;
    border-radius: 50%;
}
.mycheckboxforOldNotifications:checked {
    background-color: #F88634;
    border: 1px solid white;
    border-radius: 50%;
}
/*10/05*/
/*09-05*/
.dropdownForNotifications {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
}

.NotificationText:hover {
    background-color: white;
}

.NotificationText {
    width: 55%;
    padding-top: 7px;
}

.missionDetails {
    font-size: 13px;
    padding-left: 5px;
}

.mxauto {
    margin-right: auto;
    margin-left: 20px;
}

#SaveNotificationSetting {
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 20px;
}

#backBtn {
    border: 2px solid black;
    border-radius: 20px;
}
.start-100 {
    left: 50% !important;
}
.bgcolorForBellNotification {
    background-color: #F88634;
}

.top-left {
    background-color: forestgreen;
    position: absolute;
    bottom: 161px;
    left: 1px;
    width: 20%;
    height: 15%;
    right: 90%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    padding-left: 10px;
    padding-top: 2px;
}
/*09-05*/
.bi.bi-star-fill {
    color: gold;
}

i.filled-heart {
    font-size: 2.0rem; /* Set a font size for the heart icon */
    vertical-align: middle; /* Keep the icon in its original position */
    position: absolute;
    bottom: 0px;
    right: 2px;
    width: 100%;
}

    i.filled-heart::before {
        content: "\2665"; /* Use a Unicode character for the filled heart symbol */
        color: red;
        font-size: inherit;
    }


.chip {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 16px;
    padding: 8px 16px;
    margin-right: 8px;
}

.close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover {
        color: #000;
    }

.input-group-text {
    display: flex;
    flex: none;
}
.hidden {
    display: none;
}

ul, li {
    list-style-type: none;
}

.b-filter:focus {
    outline: 0;
    box-shadow: none;
}

.srch {
    width: 85%;
    margin: auto;
    border: none;
}

@media (min-width:769px) {
    .mrg-start {
        margin-left: 30%;
    }

    .border-end {
        border: none;
    }

    .be {
        border-right: 1px solid #dee2e6
    }

    .bd {
        border: 1px solid #dee2e6
    }
}

@media (max-width:425px) {
    .row .btn {
        margin-left: 35%;
    }
}


.col-lg-6 {
    height: 45px;
}

.col-lg-3 {
    height: 45px;
}

.img-fluid {
    max-width: 100%;
    max-height: 200px;
    height: auto;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}

    .item.list-group-item .img-event {
        float: left;
        width: 30%;
    }

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
        display: inline-block;
    }

    .item.list-group-item .caption {
        float: left;
        width: 70%;
        margin: 0;
    }

    .item.list-group-item:before, .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item:after {
        clear: both;
    }

.bottom-left {
    position: absolute;
    bottom: -5px;
    /* top: -20px; */
    left: 16px;
    background-color: white;
    color: black;
    width: 30%;
    left: 34%;
    text-align: center;
    border-radius: 20px;
}


.filter-wrapper {
    border: 1px solid gray;
}

.filter {
    margin: 0;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.bottom-right {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 66px;
    right: 16px;
 
    width: 9%;
    height: 15%;
    left: 90%;
    border-radius: 50%;
}

.bottom-right2 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 18px;
    right: 16px;

    width: 9%;
    height: 19%;
    left: 90%;
    border-radius: 50%;
}

/*.bottom-right3 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 160px;
 
    color: white;
    width: 29%;
    height: 15%;
    left: 70%;
    border-radius: 20%;
}*/
.bottom-right3 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 160px;
    color: white;
    width: 30%;
    height: 15%;
    left: 68%;
    border-radius: 20px;
    
}
.dt {
    border: 1px solid black;
    width: 80%;
    border-radius: 20px;
    bottom: -11px;
    left: 10%;
    background-color: white;
}

.imgbd {
    border-image: 1px solid white;
}

.bgw {
    background-color: #F88634;
}

.btnapp {
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 20px;
}

@media (min-width:769px) and ( max-width:1024px) {
    .bottom-left {
        width: 35%;
    }

    .img-fluid {
        height: 200px;
    }

    .bottom-right3 {
        width: 42%;
        height: 15%;
        left: 56%;
    }

    h4 {
        font-size: 20px;
    }

    .mb {
        margin-bottom: 20%;
    }

    .wdimg {
        width: 20px;
    }

    .fsize {
        font-size: 12px;
    }

    .fsize2 {
        font-size: 10px;
    }

    .mt1 {
        margin-top: -1.75rem;
    }
}
/* @media (min-width:426px) and ( max-width:768px){ */
@media ( max-width:768px) {
    .bottom-left {
        width: 35%;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 123px;
        right: 16px;
        width: 5%;
        height: 9%;
        left: 90%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 50px;
        right: 16px;
        width: 6%;
        height: 11%;
        left: 91%;
        border-radius: 50%;
    }

    .img-fluid {
        height: 40%;
        width: 200%;
        max-height: 300px;
    }

    .bottom-right3 {
        bottom: 250px;
        width: 20%;
        height: 10%;
        left: 76%;
        margin: auto;
    }

    .btnapp {
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 20px;
        margin: auto;
        margin-left: 36%;
    }

    h4 {
        font-size: 20px;
    }

    .mb {
        margin-bottom: 2%;
    }

    .wdimg {
        width: 20px;
    }

    .fsize {
        font-size: 14px;
    }

    .fsize2 {
        font-size: 14px;
    }
  
    .mt1 {
        margin-top: 0.75rem;
    }

    td {
        text-align: center;
    }

    table {
        margin: auto;
    }
}

@media (min-width:376px) and ( max-width:425px) {

    .bottom-right3 {
        bottom: 146px;
        width: 28%;
        height: 16%;
        left: 71%;
        margin: auto;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 80px;
        right: 16px;
        width: 9%;
        height: 15%;
        left: 90%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 39px;
        right: 16px;
        width: 8%;
        height: 16%;
        left: 91%;
        border-radius: 50%;
    }

    .mt5 {
        margin-top: 50px;
        ;
    }
}

@media (min-width:321px) and ( max-width:375px) {
    .bottom-right3 {
        bottom: 125px;
        width: 35%;
        height: 16%;
        left: 59%;
        margin: auto;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 80px;
        right: 16px;
        width: 9%;
        height: 15%;
        left: 90%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 39px;
        right: 16px;
        width: 9%;
        height: 19%;
        left: 90%;
        border-radius: 50%;
    }

    .mt5 {
        margin-top: 50px;
        ;
    }
}

@media (max-width:320px) {
    .bottom-right3 {
        bottom: 104px;
        width: 46%;
        height: 22%;
        left: 53%;
        margin: auto;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 54px;
        right: 16px;
        width: 11%;
        height: 23%;
        left: 87%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 14px;
        right: 16px;
        width: 12%;
        height: 24%;
        left: 87%;
        border-radius: 50%;
    }

    .mb {
        margin-bottom: 10%;
    }

    .wdimg {
        width: 14px;
    }

    .fsize {
        font-size: 11px;
    }

    .mt5 {
        margin-top: 50px;
        ;
    }

    .navigation {
        font-size: 10px;
    }
}

@media (min-width:769px) {
    .btnapp {
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 20px;
        left: 20%;
        position: relative;
        left: 10%;
    }
}



.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

.bottom-right4 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 50%;
    right: 16px;
  
    width: 6%;
    height: 10%;
    left: 90%;
    border-radius: 50%;
}

.bottom-right5 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 30%;
    right: -7px;
   
    width: 6%;
    height: 10%;
    left: 90%;
    border-radius: 50%;
}

.bottom-right6 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    
    bottom: 85%;
    
    color: white;
    width: 27%;
    height: 13%;
    left: 65%;
    border-radius: 20%;
}

.bl1 {
    position: absolute;
    bottom: -5px;
  
    left: 16px;
    background-color: white;
    color: black;
    width: 30%;
    left: 34%;
    text-align: center;
    border-radius: 20px;
}

.thumbimg {
    width: 100%;
   
    height: 200px;
}

.bdr-rds {
    border-radius: 20px;
}

.btnlist {
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 20px;
}

.bgw1 {
    background-color: #F88634;
}

@media(min-width:1441px) {
    .bottom-right4 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 50%;
        right: 16px;
       
        width: 7%;
        height: 14%;
        left: 89%;
        border-radius: 50%;
    }

    .bottom-right5 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 31%;
        
        width: 8%;
        height: 15%;
        left: 88%;
        border-radius: 50%;
    }
}

@media (min-width:1025px) and ( max-width:1440px) {
    .bottom-right4 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 46%;
        right: 16px;
        
        width: 7%;
        height: 14%;
        left: 89%;
        border-radius: 50%;
    }

    .bottom-right5 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 26%;
        right: -7px;
        
        width: 7%;
        height: 16%;
        left: 89%;
        border-radius: 50%;
    }
}

@media (min-width:769px) and ( max-width:1024px) {
    .bottom-right6 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
       
        bottom: 83%;
        
        color: white;
        width: 40%;
        height: 13%;
        left: 55%;
        border-radius: 20%;
    }

    .bottom-right4 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 50%;
        right: 16px;
       
        width: 10%;
        height: 15%;
        left: 84%;
        border-radius: 50%;
    }

    .bottom-right5 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 30%;
        right: -7px;
        
        width: 9%;
        height: 16%;
        left: 85%;
        border-radius: 50%;
    }
}

@media (min-width:426px) and ( max-width:768px) {
    .bottom-right6 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
       
        bottom: 88%;
        
        color: white;
        width: 21%;
        height: 10%;
        left: 75%;
        border-radius: 20%;
    }

    .mtop {
        margin-top: 3%;
    }
}

@media (max-width: 425px) {
    #list {
        display: none;
    }
}