.b_bg
{
    background-color:#0000000D ;
}
.fullscreen{
    height: 100vh;
}
.c_bg{
    background-color: #FFFFFF;
}
.btn-login {
    color: #F88634;
    border: 2px solid #F88634;
    background-color: white;
    border-radius: 20px;
    width:100%;
}
.center_link{
    text-align: center;
}
a{
    text-decoration: none;
}
p, a{
    font-size:0.875rem;
}
.td{
    text-decoration: none;
    color: black;
}
.form-outline{
    font-size: 0.7rem;
}
.colm {
    padding: 0px;
}


@media (max-width:1024px) and  (min-width:426px) {
    form{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
} 
@media(min-width:990px){
    img {
        height: 100vh;
    }

}

@media (max-width:1024px) and (min-width:426px) {
    .d {
        width: 70%;
        margin: auto;
    }
    .btn-login{
        width:70%;
        margin: auto;
    }

}
