@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.scrollable {
    overflow-y: scroll; /* Add a vertical scrollbar */
    height: 530px; /* Set a fixed height for the element */
}

.bi-star.filled {
    color: gold !important;
    /*fill: gold !important;*/
}
.star-icon.filled {
    color: gold !important;
    /*fill: yellow !important;*/
}
.star-icon {
    margin-right: 10px;
}

    /*.star-icon.filled {
        color: gold !important;
        fill: red !important;
    }*/

ul, li {
    list-style-type: none;
}

i.filled-heart {
    /*font-size: 14px;*/
    font-size: 2.0rem;
    / Set a font size for the heart icon /
}

    i.filled-heart::before {
        content: "\2665";
        / Use a Unicode character for the filled heart symbol / top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: red;
        font-size: inherit;
    }

.b-filter:focus {
    outline: 0;
    box-shadow: none;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.srch {
    width: 85%;
    margin: auto;
    border: none;
}

.input-group-text {
    display: flex;
    flex: none;
}
/* @media(min-width:426px) and (max-width:842px){
    .be{
        border: none;
    }
} */
.input-group .btn {
    position: relative;
    z-index: 2;
    height: 35px;
}

.filter-wrapper {
    border: 1px solid gray;
}

.filter {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: black;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: black;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main1 {
    transition: margin-left .5s;
    padding: 16px;
}

#main2 {
    transition: margin-left .5s;
    padding: 16px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

@media (min-width:769px) {
    .mrg-start {
        margin-left: 30%;
    }

    .border-end {
        border: none;
    }

    .be {
        border-right: 1px solid #dee2e6
    }

    .bd {
        border: 1px solid #dee2e6
    }
}
/* @media (max-width:425px)
{
    .row .btn{
        margin-left: 35%;
    }
} */
/* ////// */


.img2 {
    height: 180px;
    width: 350px;
}

.imgh {
    height: 378px;
}

#id1,
#id2,
#id3,
#id4,
#id5,
#id6 {
    display: none;
}


.dt {
    border: 1px solid black;
    width: 80%;
    border-radius: 20px;
    bottom: -11px;
    left: 10%;
    background-color: white;
}

.dt3 {
    border: 1px solid black;
    width: 80%;
    border-radius: 20px;
    bottom: -11px;
    left: 10%;
    background-color: white;
    height:90% ;
}
/*
.dt2 {
    border: none;
    width: 27%;
    bottom: 4px;
    left: 37%;
    background-color: white;
}*/
.dt2 {
    border: none;
    width: 18%;
    bottom: -9px;
    left: 41%;
    background-color: white;
}

.bgw {
    background-color: #F88634;
}

.td6 {
    width: 90%;
}

.btnlist {
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 20px;
}

.btnapp {
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 20px;
}

.mt1 {
    margin-top: 3%;
}

.f-size {
    font-size: 11px;
}



/* related mission */


.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.bottom-left {
    position: absolute;
    bottom: -5px;
    left: 16px;
    background-color: white;
    color: black;
    width: 30%;
    left: 34%;
    text-align: center;
    border-radius: 20px;
}


.bottom-right {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 66px;
    right: 16px;
    width: 9%;
    height: 15%;
    left: 90%;
    border-radius: 50%;
}

.bottom-right2 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 18px;
    right: 16px;
    width: 9%;
    height: 19%;
    left: 90%;
    border-radius: 50%;
}

.bottom-right3 {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    bottom: 160px;
    color: white;
    width: 27%;
    height: 15%;
    left: 70%;
    border-radius: 20%;
}

@media ( max-width:768px) {
    .bottom-left {
        width: 35%;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 123px;
        right: 16px;
        width: 5%;
        height: 9%;
        left: 90%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 50px;
        right: 16px;
        width: 6%;
        height: 11%;
        left: 91%;
        border-radius: 50%;
    }

    .img-fluid {
        height: 40%;
        width: 200%;
        max-height: 300px;
    }

    .bottom-right3 {
        bottom: 250px;
        width: 20%;
        height: 10%;
        left: 76%;
        margin: auto;
    }

    .btnapp {
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 20px;
        margin: auto;
        margin-left: 36%;
    }

    h4 {
        font-size: 20px;
    }

    .mb {
        margin-bottom: 2%;
    }

    .wdimg {
        width: 20px;
    }

    .fsize {
        font-size: 14px;
    }

    .fsize2 {
        font-size: 14px;
    }

    .mt1 {
        margin-top: 0.75rem;
    }

    td {
        text-align: center;
    }

    table {
        margin: auto;
    }
}

@media (min-width:1025px) {
    .img2 {
        height: 155px;
        width: 178px;
    }
}

@media(min-width:769px) and (max-width:1024px) {
    .dt2 {
        width: 45%;
        height: 20px;
        left: 30%;
    }

    .dt3 {
        width: 100%;
        height: 59px;
    }

    .card-body {
        padding: 0px;
        height: 70px;
    }

    .img2 {
        height: 115px;
        width: 126px;
    }

    .imghr {
        height: 420px;
    }

    .imgh {
        height: 420px;
    }
    /* related mission */
    .bottom-left {
        width: 35%;
    }

    .img-fluid {
        height: 200px;
    }

    .if {
        height: 120px;
    }

    .bottom-right3 {
        width: 42%;
        height: 15%;
        left: 56%;
    }

    .mb {
        margin-bottom: 20%;
    }

    .wdimg {
        width: 20px;
    }

    .row .btnapp {
        left: 22%;
    }
    /*  */
    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 18px;
        right: 16px;
        width: 13%;
        height: 21%;
        left: 86%;
        border-radius: 50%;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 66px;
        right: 16px;
        width: 13%;
        height: 18%;
        left: 86%;
        border-radius: 50%;
    }
    /*  */

}

@media (min-width:769px) {
    .btnapp {
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 20px;
        left: 20%;
        position: relative;
        left: 25%;
    }
}

@media(min-width:426px) and (max-width:768px) {

    .img2 {
        height: 160px;
        width: 200px;
    }

    .mt1 {
        margin-top: 5%;
    }

    .imgh {
        height: 414px;
    }

    /* related mission */

}

@media(min-width:320px) and (max-width:425px) {
    .row .btnlist {
        margin-left: 0%;
    }

    .row .btnapp {
        margin-left: 37%;
    }

    .img2 {
        height: 160px;
        width: 250px;
    }

    .mt1 {
        margin-top: 5%;
    }

    .imgh {
        height: 414px;
    }

    .dt3 {
        width: 100%;
        margin-top: 20px;
    }

    .dt2 {
        width: 60%;
        height: 20px;
        left: 20%;
        bottom: 15px;
    }

    .mrg {
        margin: 8px;
    }

    .w-div {
        padding: 0px;
        width: 48%;
        left: 26%;
        margin: 3px;
    }

    .dn {
        display: none;
    }
}

@media (min-width:376px) and ( max-width:425px) {
    .row .btnlist {
        margin-left: 0%;
    }

    .row .btnapp {
        margin-left: 37%;
    }

    .bottom-right3 {
        bottom: 146px;
        width: 28%;
        height: 16%;
        left: 71%;
        margin: auto;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 80px;
        right: 16px;
        width: 9%;
        height: 15%;
        left: 90%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 39px;
        right: 16px;
        width: 8%;
        height: 16%;
        left: 91%;
        border-radius: 50%;
    }

    .mt5 {
        margin-top: 50px;
    }

    .imgh {
        height: 238.25px;
        width: 401px;
    }

    .img2 {
        height: 70px;
        width: 100px;
    }
}

@media (min-width:321px) and ( max-width:375px) {
    .row .btnlist {
        margin-left: 0%;
    }

    .row .btnapp {
        margin-left: 35%;
    }

    .bottom-right3 {
        bottom: 125px;
        width: 35%;
        height: 16%;
        left: 59%;
        margin: auto;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 80px;
        right: 16px;
        width: 9%;
        height: 15%;
        left: 90%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 39px;
        right: 16px;
        width: 9%;
        height: 19%;
        left: 90%;
        border-radius: 50%;
    }

    .mt5 {
        margin-top: 50px;
    }

    .imgh {
        height: 208.531px;
        width: 351px;
    }

    .img2 {
        height: 70px;
        width: 100px;
    }
}

@media (max-width:320px) {
    .bottom-right3 {
        bottom: 104px;
        width: 46%;
        height: 22%;
        left: 53%;
        margin: auto;
    }

    .bottom-right {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 54px;
        right: 16px;
        width: 11%;
        height: 23%;
        left: 87%;
        margin: auto;
        border-radius: 50%;
    }

    .bottom-right2 {
        background-color: rgba(0,0,0, 0.5);
        position: absolute;
        bottom: 14px;
        right: 16px;
        width: 12%;
        height: 24%;
        left: 87%;
        border-radius: 50%;
    }

    .mb {
        margin-bottom: 10%;
    }

    .wdimg {
        width: 14px;
    }

    .fsize {
        font-size: 11px;
    }

    .mt5 {
        margin-top: 50px;
    }

    .navigation {
        font-size: 10px;
    }

    .imgh {
        height: 175.859px;
        width: 296px;
    }

    .img2 {
        height: 70px;
        width: 73px;
    }
}
/* 22-02-2023 */

/* @media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
} */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
/* @media (min-width: 768px) { */

.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}
/* } */

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/*23-02  */
.p-text {
    text-align: justify;
}

.btnpc {
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 20px;
}

.imgh-pf {
    height: 50px;
}

.btop {
    border-top: 5px solid orange;
}

.pinfo {
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px;
}

.imgrv {
    height: 80px;
    width: 80px;
}

.nl {
    background-color: white;
    color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link .nl {
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
    border-radius: 0;
}

.mtd, .mtd2 {
    margin-top: 10px;
}

.hrt {
    margin-top: 30px;
}

.dt5 {
    width: 44%;
    margin-left: 18%;
}

.mt7 {
    margin-top: 5%;
}
/* .cmt1{
    height: 800px;
        overflow-x: hidden;
        overflow-y: auto;
} */
.privacy-policy a {
    text-decoration: none;
    color: black;
}

@media (max-width:425px) {
    .imgrv {
        height: 70px;
        width: 70px;
    }

    .rvname {
        font-size: 11px;
    }
}

@media (min-width:1025px) {

    .pinfo2 {
        margin: 5px 20px;
    }
}

@media (max-width:1024px) and (min-width:769px) {
    .width-btn {
        margin: 5px auto;
        width: 70%;
    }

    .mtd {
        margin-top: 20%;
    }

    .mtd2 {
        margin: 23.5% 0;
    }

    .pinfo {
        margin-left: 0%;
        margin-right: 0%;
        padding: 15px;
        width: 99%;
    }

    .pinfo2 {
        margin: 5px 20px;
    }

    .hrt2 {
        margin-top: -24px;
    }

    .cb2 {
        height: 370px;
    }

    .db5 {
        display: block;
    }
}

@media (max-width:768px) and (min-width:426px) {
    .width-btn {
        margin: 5px auto;
        width: 40%;
    }

    .mtd {
        padding-bottom: 30px;
        margin: 30px 0px;
    }

    .mtd2 {
        margin: 30px 0px;
    }

    .pinfo2 {
        margin: 5px 20px;
    }

    .mt10 {
        margin-top: 20px;
    }

    .dtn {
        border: 1px solid black;
        width: 40%;
        border-radius: 20px;
        bottom: -11px;
        left: 30%;
        background-color: white;
    }
}

@media (max-width:425px) {
    .width-btn {
        margin: 5px auto;
        width: 80%;
    }

    .fs {
        font-size: 14px;
    }

    .mtd {
        padding-bottom: 30px;
        margin: 30px 0px;
    }

    .mtd2 {
        margin: 30px 0px;
    }

    .db1 {
        display: block;
    }

    .pinfo {
        margin-left: 4%;
        margin-right: 15%;
        padding: 15px;
        width: 92%;
    }

    .img2 {
        height: 70px;
        width: 225px;
    }
}

@media (max-width:425px) {
    .fs2 {
        font-size: 10px;
    }

    .fs3 {
        font-size: 12px;
    }

    .mt7 {
        margin-top: 7%;
    }

    .mt10 {
        margin-top: 10px;
    }
}
