.b_bg
{
    background-color:#0000000D ;
}
.c_bg{
    background-color: #FFFFFF;
}
.btn-login{
    color: #F88634;
    border: 2px solid #F88634;
    background-color: white;
    border-radius: 20px;
}
.center_link{
    text-align: center;
}
a{
    text-decoration: none;
}
p, a{
    font-size:0.875rem;
}
.td{
    text-decoration: none;
    color: black;
}
.form-outline{
    font-size: 0.7rem;
}
@media (min-width:1025px)
{
    .pb-lg-2{
        display: none;
    }
}