@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@using CI_Platform.Entities.Models.VM
@model AdminViewModel
<div class="container mt-2">
    <div class="row ">
        <div class="col bg-light py-3 ">
            <h4 class="ps-4">Edit</h4>
        </div>
    </div>
    <form class="row g-3 needs-validation editcmsvalidation " novalidate>
    <div class="row">
        <div class="col">
            <div class="my-3">
                <label for="cmstitle2" class="form-label ">Title</label>
                <input type="text" class="form-control" id="cmstitle2" aria-describedby="titleHelp" required>
                 <div class="invalid-feedback">
                        Please enter Title.
                 </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="CMSeditor2">Description</label>
            <textarea cols="80" required id="CMSeditor2" class="mydescription" name="CMSeditor2" rows="4">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href=&quot;https://ckeditor.com/&quot;&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
            <div class="invalid-feedback">
                    Please enter description.
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="my-3">
                <label for="cmsSlug2" class="form-label ">Slug</label>
                <input type="text" class="form-control" id="cmsSlug2" aria-describedby="SlugHelp" required>               
                <div class="invalid-feedback">
                        Please enter Slug.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <label for="myStatusOfCMS2">Status</label>
                <select class="form-select" id="myStatusOfCMS2" aria-label="Default select example" required>
                    <option selected value="" disabled>Select a status</option>
                    <option value="0">Inactive</option>
                    <option value="1">Active</option>
                </select>
                <div class="invalid-feedback">
                        Please select Status.
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <button class="btn btn-success SaveBtn float-end CmsEdit" id="EditBtnForCmsPage" data-cms-id="" type="button">Save</button>
            <button class="btn btn-primary cancelBtn float-end mx-2 CMSBack"  type="button">cancel</button>
        </div>
    </div>
    </form>
</div>


<script src="https://cdn.ckeditor.com/4.21.0/basic/ckeditor.js"></script>
<script>
        CKEDITOR.replace('CMSeditor2', {
      height: 200,
      baseFloatZIndex: 10005

    });
   
</script>