@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form class="row g-3 needs-validation addcmsvalidation " novalidate>
    <div class="container-fluid mt-2">
        <div class="row ">
            <div class="col bg-light py-3 ">
                <h4 class="ps-4">Add</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-3">
                    <label for="cmstitle" class="form-label ">Title</label>
                    <input type="text" class="form-control" id="cmstitle" aria-describedby="titleHelp" required>
                    <div class="invalid-feedback">
                        Please enter Title.
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="editor1">Description</label>
                <textarea cols="80" id="editor1" name="editor1" rows="4">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href=&quot;https://ckeditor.com/&quot;&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
                <div class="invalid-feedback">
                    Please enter description.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-3">
                    <label for="cmsSlug" class="form-label ">Slug</label>
                    <input type="text" class="form-control" id="cmsSlug" aria-describedby="SlugHelp" required>
                    <div class="invalid-feedback">
                        Please enter Slug.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <label for="myStatusOfCMS">Status</label>
                    <select class="form-select" id="myStatusOfCMS" aria-label="Default select example" required>
                        <option selected disabled value="">Select a status</option>
                        <option value="0">Inactive</option>
                        <option value="1">Active</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select Status.
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                <button class="btn btn-success SaveBtn float-end " id="CMSAdd" type="button">Save</button>
                <a class="btn btn-primary cancelBtn float-end mx-2" asp-action="AdminDashBoard" asp-controller="Admin" type="button">cancel</a>
            </div>
        </div>
    </div>
</form>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script>
        CKEDITOR.replace('editor1', {
      height: 200,
      baseFloatZIndex: 10005

    });

</script>
