@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .orangeClr {
            background-color: #F88634;
            height: 100vh;
        }

        .nav-link:hover {
            background-color: white;
            color: #F88634;
        }

        .txtwhite {
            color: white;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: #F88634;
            background-color: white;
        }

        .mtop {
            margin-top: -3px;
        }

        .greentext {
            color: #14C506;
        }

        .addUserBtn {
            border: 2px solid #F88634;
            padding: 5px 10px;
            border-radius: 20px;
            color: #F88634;
        }
        .icon-green{
            color: #14C506;
        }
        .icon-red{
            color: red;
        }
       
    </style>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- sidebar -->
            <div class="col-md-12 col-lg-3 col-12 col-xs-12 col-xl-2">
                
                <!--  -->
                <button class="btn btn-primary d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                   Menu
                </button>
                <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasExampleLabel">NAVIGATION</h5>
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="sidebar-container">
                            <div class="nav d-flex flex-column nav-pills me-3 orangeClr" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <h6 class="text-start ms- text-light ms-3 my-4">NAVIGATION</h6>
                                <button class="nav-link txtwhite active d-flex w-100 mx-2 my-2" id="v-pills-User-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-User" type="button" role="tab"
                                    aria-controls="v-pills-home" aria-selected="true"><i
                                        class="bi bi-person me-3"></i>User</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-CMSPage-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-CMSPage" type="button" role="tab"
                                    aria-controls="v-pills-profile" aria-selected="false"><i
                                        class="bi bi-file-earmark-text-fill me-3"></i>CMS Page</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Mission-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-Mission" type="button" role="tab"
                                    aria-controls="v-pills-messages" aria-selected="false"><i
                                        class="bi bi-bullseye me-3"></i>Mission</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionTheme-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-MissionTheme" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><i
                                        class="bi bi-layout-wtf me-3"></i>Mission Theme</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionSkills-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-MissionSkills" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><i
                                        class="bi bi-tools me-3"></i>Mission
                                    Skills</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionApplication-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-MissionApplication" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><i
                                        class="bi bi-folder-minus me-3"></i>Mission Application</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Story-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-Story" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false"><i
                                        class="bi bi-bookmark-star-fill me-3"></i>Story</button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-BannerManagement-tab"
                                    data-bs-toggle="pill" data-bs-target="#v-pills-BannerManagement" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Banner Management</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->

                <!-- normal sidebar -->
                <div class="sidebar-container d-none d-lg-block ">
                    <div class="nav d-flex flex-column nav-pills me-3 orangeClr" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <h6 class="text-start ms- text-light ms-3 my-4">NAVIGATION</h6>
                        <button class="nav-link txtwhite active d-flex w-100 mx-2 my-2" id="v-pills-User-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-User" type="button" role="tab"
                            aria-controls="v-pills-home" aria-selected="true"><i
                                class="bi bi-person me-3"></i>User</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-CMSPage-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-CMSPage" type="button" role="tab"
                            aria-controls="v-pills-profile" aria-selected="false"><i
                                class="bi bi-file-earmark-text-fill me-3"></i>CMS Page</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Mission-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-Mission" type="button" role="tab"
                            aria-controls="v-pills-messages" aria-selected="false"><i
                                class="bi bi-bullseye me-3"></i>Mission</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionTheme-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-MissionTheme" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false"><i
                                class="bi bi-layout-wtf me-3"></i>Mission Theme</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionSkills-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-MissionSkills" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false"><i
                                class="bi bi-tools me-3"></i>Mission
                            Skills</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionApplication-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-MissionApplication" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false"><i
                                class="bi bi-folder-minus me-3"></i>Mission Application</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Story-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-Story" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false"><i
                                class="bi bi-bookmark-star-fill me-3"></i>Story</button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-BannerManagement-tab"
                            data-bs-toggle="pill" data-bs-target="#v-pills-BannerManagement" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false">Banner Management</button>
                    </div>
                </div>
                <!-- normal sidebar -->
                
            </div>
            <!-- sidebar -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- tab -->
            <div class="col-md-12 col-lg-9 col-xs-12 col-12 col-xl-10" >
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                <!-- navbar-top -->
                <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block shadow p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                                <li class="nav-item currentTime">
                                    Thursday, November 3, 2022, 10:06 AM
                                </li>
                            </ul>
                            <form class="d-flex" role="search">

                                <div class="dropdown">
                                    <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/images/user-img.png" alt="" style="border-radius: 50%;" height="30px"
                                            width="30px">
                                        <span>Nirav Patel</span>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else </a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
                <!-- navbar-top -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                <!-- for displaying tabs -->
                <div class="tab-content col-md-10 col-8 w-100 me-5" id="v-pills-tabContent">
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- UserTAB -->
                    <div class="tab-pane fade  show active " id="v-pills-User" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">User</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                        name="query" placeholder="Search."  aria-label="Search"
                                        aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addUserBtn "><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>
                        </div>


                        <!-- User table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Employee Id</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td>Adam</td>
                                        <td>Baldwin</td>
                                        <td>Adam12546@yahs.com</td>
                                        <td>1364978456</td>
                                        <td>HR</td>
                                        <td class="greentext">Active</td>
                                        <td>
                                            <button class="border-0 bg-white"><i class="bi bi-pencil-square "></i></button>
                                            <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- User table -->

                    </div>
                    <!-- UserTAB -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- CMS-Page Tab -->
                    <div class="tab-pane fade " id="v-pills-CMSPage" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">CMS Page</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                        name="query" placeholder="Search." aria-label="Search"
                                        aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addUserBtn "><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>
                        </div>

                        <!-- CMS table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td>Various versions have evolved over the years Many desktop publishing packages and web page editors</td>
                                        <td>Active</td>
                                        <td>
                                            <button class="border-0 bg-white"><i class="bi bi-pencil-square "></i></button>
                                            <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- CMS table -->
                        
                    </div>
                    <!-- CMS-Page Tab -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- mission page -->
                    <div class="tab-pane fade " id="v-pills-Mission" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Mission</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                        name="query" placeholder="Search." aria-label="Search"
                                        aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addUserBtn "><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>
                            <!-- ---- -->
                        </div>
                        <!-- Mission table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Mission Title</th>
                                        <th scope="col">Mission Type</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td>Various versions have evolved over</td>
                                        <td>Goal</td>
                                        <td>10/02/2019</td>
                                        <td>20/02/2022</td>
                                        <td>
                                            <button class="border-0 bg-white"><i class="bi bi-pencil-square "></i></button>
                                            <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Mission table -->
                    </div>
                    <!-- mission page -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <div class="tab-pane fade " id="v-pills-MissionTheme" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">tab4</div>
                    <div class="tab-pane fade " id="v-pills-MissionSkills" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">tab5</div>
                    <!-- Mission Application Tab -->
                    <div class="tab-pane fade " id="v-pills-MissionApplication" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Mission Application</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                        name="query" placeholder="Search." aria-label="Search"
                                        aria-describedby="search-addon">
                                </form>

                            </div>
                        </div>
                        <!-- Mission Application table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Mission Title</th>
                                        <th scope="col">Mission Id</th>
                                        <th scope="col">User Id</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Application Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td>Various versions have evolved over</td>
                                        <td>5164978456</td>
                                        <td>1364978465</td>
                                        <td>Adam Baldwin</td>
                                        <td>15/02/2024</td>
                                        <td>
                                            <button class="border-0 bg-white"><i class="bi bi-check-circle icon-green"></i></button>
                                            <button class="border-0 bg-white"><i class="bi bi-x-circle icon-red"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Mission Application table -->
                    </div>
                    <!-- Mission Application Tab -->
                    <!-- story tab -->
                    <div class="tab-pane fade " id="v-pills-Story" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Story</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                        name="query" placeholder="Search." aria-label="Search"
                                        aria-describedby="search-addon">
                                </form>

                            </div>
                        </div>
                        <!-- Story table -->
                        <div class="table-responsive ">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Story Title</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Mission Title</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border">
                                        <td>Desktop publishing software also the leap into</td>
                                        <td>Adam Baldwin</td>
                                        <td>Desktop publishing software</td>
                                        <td>
                                            <button class="btn addUserBtn "><span>View</span></button>
                                            <button class="border-0 bg-white"><i class="bi bi-check-circle icon-green"></i></button>
                                            <button class="border-0 bg-white"><i class="bi bi-x-circle icon-red"></i></button>
                                            <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Story table -->
                    </div>
                     <!-- story tab -->
                    <div class="tab-pane fade " id="v-pills-BannerManagement" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">tab8</div>
                </div>
                <!-- for displaying tabs -->

            </div>
            <!-- tab -->
        </div>
    </div>



     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>